projet-fil-rouge/

# Jenkins
docker/jenkins/secrets/
*.log

# Docker
docker/.env
docker/monitoring/.env
docker/monitoring/config/alertmanager/alertmanager.yml
**/node_modules/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# macOS
.DS_Store
.kiro/
