# ──────────────────────────────────────────────
# .env.example  —  Template (copier en .env et remplir)
# ──────────────────────────────────────────────

PORT=3001
MONGO_URI=mongodb+srv://yacine:YAcine32%40@cluster0.fe1lt3a.mongodb.net/portfolio?retryWrites=true&w=majority
NODE_ENV=development
