# ──────────────────────────────────────────────
# .env.example  —  Template (copier en .env et remplir)
# ──────────────────────────────────────────────

PORT=3001
MONGO_URI=mongodb://localhost:27017/portfolio_db
NODE_ENV=development
