# ──────────────────────────────────────────────
# .env.example  —  Template (copier en .env et remplir)
# ──────────────────────────────────────────────

PORT=3001
MONGO_URI=mongodb+srv://yacine:YAcine32@@cluster0.fe1lt3a.mongodb.net/?appName=Cluster0
NODE_ENV=development
